<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>체험농장예약시스템</title>
</head>

<body>
  <div style="display: flex; justify-content: flex-end;">
    <h1 style="margin-left: 43%; margin-right: auto;">체험농장 예약시스템</h1>
    <div>
      <% if(is_logined==false) { %>
        <button onclick="location.href='/login'">로그인</button>
        <button onclick="location.href='/register'">회원가입</button>
      <% } else { %>
        <% if (FarmYN==1) { %>
          <p>농장주 <%=name %>님 안녕하세요</p>
        <% } else { %>
          <p>사용자 <%=name %>님 안녕하세요</p>
      <% } %>
      <button onclick="location.href='/mypage'">마이페이지</button>
      <button onclick="location.href='/logout'">로그아웃</button>
      <% } %>
      <button onclick="location.href='../'">메인페이지</button>
    </div>
  </div>
  <hr>

  <h2 style="text-align: center;">농장 게시글 작성</h2>

  <form action='/farmInfo' method='post' enctype="multipart/form-data">
    <h3 style="padding-left: 40%">■ 농장이름</h3>
    <input type='text' name='FarmName' style="padding-right: 5%;  padding-left: 5%; margin-left: 40%; margin-right: 40%; margin-bottom: 1%; text-align: center;" size="30" placeholder="내용을 입력해주세요."><br>
    
    <h3 style="padding-left: 40%">■ 정보입력</h3>
    <input type='text' name='FarmInfo' style="padding: 5%; margin-left: 40%; margin-right: 40%; margin-bottom: 1%; text-align: center;" size="30" placeholder="내용을 입력해주세요."><br>
    
    <h3 style="padding-left: 40%">■ 농장주소</h3>
    <input type='text' name='FarmAddress' style="width:300px; margin-left: 40%; margin-right: 40%; margin-bottom: 1%;"><br>
    
    <h3 style="padding-left: 40%">■ 농장사진</h3>
    <input type='file' class="form-control-file" id="fileupload" name='fileupload' style="width:300px; margin-left: 40%; margin-right: 40%; margin-bottom: 1%;"><br>

    <h3 style="padding-left: 40%">■ 농장 카테고리 선택</h3>
    <select name="category" required style="padding-right: 5%; margin-left: 40%; margin-right: 40%; margin-bottom: 1%;">
      <option value="" selected>선택</option>
      <% for(i=0; i < FarmCategoryName.length; i++) { %>
        <option value="<%=FarmCategoryName[i].FarmCategoryName%>">
          <%= FarmCategoryName[i].FarmCategoryName%>
        </option>
        <% } %>
    </select><br>
   
    <h3 style="padding-left: 40%">■ 지역 카테고리 선택</h3>
    <select name="local" required style="padding-right: 5%; margin-left: 40%; margin-right: 40%;">
      <option value="" selected>선택</option>
      <% for(i=0; i < LocalName.length; i++) { %>
        <option value="<%=LocalName[i].LocalName%>">
          <%= LocalName[i].LocalName%>
        </option>
        <% } %>
    </select>
    <div style="display: flex; justify-content: center; margin-top: 2%;">
      <input type="hidden" name="ID" value="<%= ID%>">
      <button type='submit'>등록</button>
    </div>
  </form>
</body>

</html>